.titulo {
    height: 50px;
    background-color: #062271;
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
    margin-top: 1px;

}

.titulo h3 {
    margin-left: 5px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
}

.titulo a {
    margin-top: 10px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;

}

.menu {
    font-weight: bold;
    font-size: 12px;
    margin-left: -20px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;

}

.menu button {
    color: #FFF;
    background-color: #FF6400;
    border-radius: 8px;
}


.card-container {
    width: 100%;
    margin: 25px auto;
    display: block;
    border: 10px;
    text-align: left;
    background-color: #E0E0E0;;
}

.card {
    position: absolute;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;

}

.card-1 {
    z-index: 2;
    width:80%;
    height: 25%;
    margin-left: 80px;
    background-color: #E0E0E0;
    padding: 20px;
    font-size: 8px;
}

.card-1 button {
    color: #FFF;
    background-color: #062271;
}


.card-2 {
    z-index: 1;
    width: 100%;
    height: 15%;
    margin-top: 100px;
    background-color: #062271;
}

.card-1 h4 {
    font-weight: bold;
}
.container-posts {
    display: flex;
    flex-wrap: wrap;
    /*esta dizendo que se não couber na tela não use scroll...joque pra baixo*/
    justify-content: space-evenly;
    gap: 10px;
    /*descola um elemento do outro */
}
.item-post {
    background-color: #FFF;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
   

    display: flex;
    flex-direction: column;
    /* justify-content: center; alinha as colunas */
    align-items: center;
    /*alinha a horizontal*/
}
.item-data{
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 12px;
}
img{
    cursor: pointer
}
