* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #fff;
    color: #000;
}

header {
    /* margin-top: 60px; */
    margin-bottom: 60px;
    padding: 15px;
    background-color: #062271;
}

header h1 {
    color: #fff;
}

main {
    justify-content: center;
}    

.text-center {
    text-align: center;
}

.container-de-cima {
    background-color: #E6F2FF;
    border-top: 4px solid #FF6400;
    border-radius: 5px 5px 0 0;
}

.container-de-baixo {
    padding: 15px 0;
    background-color: #0073e633;
}

.flex-col {
    display: flex;
    flex-flow: column;
}

.align-center {
    align-items: center;
}

.container {
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;

}    

h2 {
    font-weight: bold;
    font-size: 20px;
    color: #000;
    margin: 30px auto;
}    

form {
    width: 80%;
}    

.mb5 {
    margin-bottom: 5px;

}    

form label {
    display: block;
    font-size: 14px;
    user-select: none;
}    

form input {
    display: block;
    width: calc(100% - 20px);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-style: italic;
    font-size: 14px;
}    

.outlineError:focus {
    outline: 2px solid #FF6400;
}

.outline:focus {
    outline: 2px solid #005bb5;
}    

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}    

.mb30 {
    margin-bottom: 30px;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}    

.details input[type="checkbox"] {
    width: auto;
}    

.rememberMe {
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;    
    gap: 5px;
}    

a {
    text-decoration: none;
    font-size: 14px;
    color: #FF6400;
}    

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #FF6400;
}    

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #FF6400;
    color: #fff;
    margin-bottom: 30px;
}    

button:hover {
    cursor: pointer;
}    

.container-de-baixo span {
    font-size: 14px;
}

.error {
    font-size: 14px;
    color: #FF6400;
    user-select: none;
}

.instructionMessage span {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.confirmationMessage {
    width: 80%;
    padding: 10px 0;
    background-color: #5fb35f;
    border-top: 3px solid #308830;
}

.invisible {
    display: none;}

.visible {
    display: block;
}