* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #fff;
    color: #000;
}

header {
    margin-bottom: 60px;
    padding: 15px;
    background-color: #062271;
}

header h1 {
    color: #fff;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

}

.container {
    width: 50%;
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    background-color: #E6F2FF;
    border-top: 4px solid #FF6400;
    border-radius: 5px 5px 0 0;
    align-items: center;
    display: flex;
    flex-flow: column;
}    

.topo-tabela {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    color: #000;
    margin: 30px auto;

}

.mb5 {
    margin-bottom: 5px;
}    

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}    

.mb30 {
    margin-bottom: 30px;
}

form {
    width: 90%;
}    

form label {
    display: block;
    font-size: 14px;
    user-select: none;
    margin-bottom: 5px;
}    

form input,
form textarea {
    display: block;
    width: calc(100% - 20px);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-style: italic;
    font-size: 14px;
}   

form select {
    display: block;
    width: calc(100%);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}

input:focus,
textarea:focus {
    outline: 2px solid #005bb5;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FF6400;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #FF6400;
}    

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #FF6400;
}    


/* */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #b3d1ff;
    font-size: 15px;
}

td {
    padding: 10px;
    text-align: center;
    background-color: #CCE3FA;
}

th {
    background-color: #005bb5;
    color: #fff;
    padding: 6px 4px;
}

button.delete-btn {
    background-color: #FF6400;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete-btn:hover {
    background-color: #dd4600;
}